[flake8]
max-line-length = 91
ignore =
    W503 ; allow breaking lines before operators
    F821 ; Ignore Annotations
    D413 ; Allow blank lines after Returns section in docstring
exclude = .tox,
    __pycache__
    .cache/
    manage.py
    .githooks/
    .idea
